{% extends 'admin/base.html.twig' %}

{% block title %}SocialNetwork index{% endblock %}
{% block left_sidebar %} 
    {{ render(controller(
        'App\\Controller\\DefaultController::left',
        { 'active' : 'new-sn' }
    )) }}
{% endblock %}
{% block entete %}

<span class="wb-order"></span>
Réseaux sociaux <span class="badge badge-pill badge-success">{{social_networks|length}}</span>

{% endblock %}

{% block page %}
 <div class="example-wrap">
      <h4 class="example-title">Réseaux sociaux</h4>
        {% include "social_network/table.html.twig" %}
</div>


{% endblock %}
