{% form_theme form with ['bootstrap_4_layout.html.twig'] only %}

<div class="row row-lg">
	<div class="col-xl-12 form-horizontal">
		{{ form_widget(form) }}
	</div>
	<div class="form-group col-xl-12 text-right padding-top-m">
        <button class="btn btn-success" id="validateButton1">{{ button_label|default('Enregistrer') }}</button>
	</div>
</div> 