<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Kiddos - Free Bootstrap 4 Template by Colorlib</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% include "common/styles.twig" %}
	</head>
	<body>
		{% include "common/navbar.twig" %}
		<!-- END nav -->

        {% block body %}{% endblock %}

		{{ render(controller('App\\Controller\\DefaultController::footer')) }}

		{% include "common/scripts.twig" %}

	</body>
</html>
