{% extends 'admin/base.html.twig' %}

{% block title %}Parameter index{% endblock %}

{% block left_sidebar %}
		{{ render(controller(
        'App\\Controller\\DefaultController::left',
        { 'active' : 'setting-parameter' }
    )) }}

{% endblock %} 

{% block entete %}

<span class="wb-order"></span>
Parameter <span class="badge badge-pill badge-success">{{parameters|length}}</span>

{% endblock %}

{% block page %}
 <div class="example-wrap">
      <h4 class="example-title">Tous les publications</h4>
        {% include "parameter/table.html.twig" %}
</div>

    

{% endblock %}
